<div class="container">
  <div class="row">
    <div class="span12 align-center">

      <ul id="nav-space" class="nav nav-tabs">
        <li id="nav-lobby" class="nav-tab active">
          <a href="#"><i id="add-room-icon" class="icon-plus"></i></a>
        </li>
        <li class="float-right">
          <div class="input-append half-margin-top no-margin-bottom">
            <input class="low-input span2" id="nickname" type="text">
            <button id="nickname-change-btn" class="btn btn-mini" type="button">
              <i class="icon-user"></i> Change
            </button>
          </div>
        </li>
      </ul>

      <div class="main-container" style="position: relative">
        <div class="row-fluid">
          <div class="span10 offset1">
            <div id="main-space">
              <div id="lobby">
                <div id="join-form" class="hide">
                  <div class="input-append no-margin-bottom">
                    <input id="room-name" class="input-large" type="text" placeholder="Choose a room name">
                    <button id="join-button" class="btn btn-primary">
                      <i class="icon-signin"></i> Join
                    </button>
                  </div>
                  <button id="random-button" class="btn btn-success">
                    <i class="icon-random"></i> Random
                  </button>
                </div>
                <div id="lobby-info" class="standard-margin-top"></div>
              </div>
              <div id="main-spinner" class="standard-margin-top"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  var Templates = {
    Room   : '<div class="room-space"><div class="room-control"><label class="room-privacy-label"><input type="checkbox" class="room-privacy-checkbox" disabled="disabled"> Private</input></label><button class="btn btn-mini btn-danger btn-close" type="button"><i class="icon-remove"></i></button></div><div class="clearfix"></div></div>',
    User   : '<div class="user-space"><div class="personal-info"></div><textarea rows="10"></textarea></div>',
    NavTab : '<li class="nav-tab nav-room"><a href="#"></a></li>'
  }
</script>