<div class="container">
  <div class="row">
    <div class="span12 align-center relative">

      <div class="right-panel">
        <div class="input-append half-margin-top no-margin-bottom">
          <input class="low-input span2" id="nickname" type="text">
          <button id="nickname-change-btn" class="btn btn-mini" type="button">
            <i class="icon-user"></i> Change
          </button>
        </div>
        <button id="sound-switch-btn" class="btn btn-mini half-margin-top" type="button">
          <% if (!soundSwitchCookie || JSON.parse(soundSwitchCookie)) { %>
            <i class="icon-volume-up"></i>
          <% } else { %>
            <i class="icon-volume-off"></i>
          <% } %>
        </button>
      </div>

      <ul id="nav-space" class="nav nav-tabs">
        <li id="nav-lobby" class="nav-tab active">
          <a href="#"><i id="add-room-icon" class="icon-plus"></i></a>
        </li>
      </ul>

      <div class="main-container relative">
        <div class="row-fluid">
          <div class="span10 offset1">
            <div id="main-space">
              <div id="lobby">
                <div id="join-form" class="hide">
                  <div class="input-append no-margin-bottom half-margin-top">
                    <input id="room-name" class="input-large" type="text" placeholder="Choose a room name">
                    <button id="join-button" class="btn btn-primary">
                      <i class="icon-signin"></i> Join
                    </button>
                  </div>
                  <button id="random-button" class="btn btn-success half-margin-top">
                    <i class="icon-random"></i> Random
                  </button>
                </div>
                <div id="lobby-info" class="standard-margin-top"></div>
              </div>
              <div id="main-spinner" class="standard-margin-top"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .flex-video {
      position: relative;
      padding-top: 25px;
      padding-bottom: 67.5%;
      height: 0;
      margin-bottom: 16px;
      overflow: hidden;
    }
     
    .flex-video.widescreen { padding-bottom: 57.25%; }
    .flex-video.vimeo { padding-top: 0; }
     
    .flex-video iframe,
    .flex-video object,
    .flex-video embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
      .flex-video { padding-top: 0; }
    }
  </style>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>   

  <div class="row">
    <div class="span12">

      <div class="row-fluid">

        <div class="span10 offset1">
          <div class="first-half">
            <div id="ytapiplayer">
              You need Flash player 8+ and JavaScript enabled to view this video.
            </div>
          </div>
          <div class="second-half">
            <div id="ytapiplayer2">
              You need Flash player 8+ and JavaScript enabled to view this video.
            </div>
          </div>
        </div>

        <script type="text/javascript">

          var params = { allowScriptAccess: "always" };
          var atts = { id: "myytplayer" };
          swfobject.embedSWF("http://www.youtube.com/v/Ygz1VRzc8Ls?enablejsapi=1&playerapiid=ytplayer&version=3",
                             "ytapiplayer", "425", "356", "8", null, null, params, atts);
          var atts = { id: "myytplayer2" };
          swfobject.embedSWF("http://www.youtube.com/v/Ygz1VRzc8Ls?enablejsapi=1&playerapiid=ytplayer&version=3",
                             "ytapiplayer2", "425", "356", "8", null, null, params, atts);
        </script>

      </div>

    </div>
  </div>


</div>

<% if (userAgent.indexOf("Firefox") > -1) { %>
  <% include audio_ogg %>
<% } else { %>
  <% include audio_mp3 %>
<% } %>

<script>
  var Templates = {
    Room   : '<div class="room-space"><div class="room-control"><label class="room-privacy-label"><input type="checkbox" class="room-privacy-checkbox" disabled="disabled"> Private</input></label><button class="btn btn-mini btn-danger btn-close" type="button"><i class="icon-remove"></i></button></div><div class="clearfix"></div></div>',
    User   : '<div class="user-space"><div class="personal-info"></div><textarea rows="10"></textarea></div>',
    NavTab : '<li class="nav-tab nav-room"><a href="#"></a></li>',
    Indicator : '<i class="icon-circle"></i> '
  }
</script>