<div class="container">
  <div class="row">
    <div class="span12 align-center relative">

      <div class="right-panel">
        <div class="input-append half-margin-top no-margin-bottom">
          <input class="low-input span2" id="nickname" type="text">
          <button id="nickname-change-btn" class="btn btn-mini" type="button">
            <i class="icon-user"></i> Change
          </button>
        </div>
        <button id="sound-switch-btn" class="btn btn-mini half-margin-top" type="button">
          <% if (!soundSwitchCookie || JSON.parse(soundSwitchCookie)) { %>
            <i class="icon-volume-up"></i>
          <% } else { %>
            <i class="icon-volume-off"></i>
          <% } %>
        </button>
      </div>

      <ul id="nav-space" class="nav nav-tabs">
        <li id="nav-lobby" class="nav-tab active">
          <a href="#"><i id="add-room-icon" class="icon-plus"></i></a>
        </li>
      </ul>

      <div class="main-container relative">
        <div class="row-fluid">
          <div class="span10 offset1">
            <div id="main-space">
              <div id="lobby">
                <div id="join-form" class="hide">
                  <div class="input-append no-margin-bottom half-margin-top">
                    <input id="room-name" class="input-large" type="text" placeholder="Choose a room name">
                    <button id="join-button" class="btn btn-primary">
                      <i class="icon-signin"></i> Join
                    </button>
                  </div>
                  <button id="random-button" class="btn btn-success half-margin-top">
                    <i class="icon-random"></i> Random
                  </button>
                </div>
                <div id="lobby-info" class="standard-margin-top"></div>
              </div>
              <div id="main-spinner" class="standard-margin-top"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="yt-container" class="row standard-margin-top hidden">
    <div class="span12">
      <div class="border1 standard-padding">
        <div class="row-fluid">
          <div id="yt-space" class="span10 offset1"></div>
        </div>
      </div>
    </div>
  </div>

</div>

<% if (userAgent.indexOf("Firefox") > -1) { %>
  <% include audio_ogg %>
<% } else { %>
  <% include audio_mp3 %>
<% } %>

<script>
  var Templates = {
    Room   : '<div class="room-space"><div class="room-control"><label class="room-privacy-label"><input type="checkbox" class="room-privacy-checkbox" disabled="disabled"> Private</input></label><button class="btn btn-mini btn-danger btn-close" type="button"><i class="icon-remove"></i></button></div><div class="clearfix"></div></div>',
    User   : '<div class="user-space"><div class="personal-info"></div><textarea></textarea></div>',
    NavTab : '<li class="nav-tab nav-room"><a href="#"></a></li>',
    Indicator : '<i class="icon-circle"></i> ',
    YTMovie   : '<div class="yt-box"><div>You need Flash player 8+ and JavaScript enabled to view this video.</div></div>'
  }
</script>