standard-margin = 15px
half-margin     = standard-margin/2

body
  margin-top 20px

.small-font
	font-size 10.5px

.align-left
	text-align left

.align-center
  text-align center

.float-left
	float left

.float-right
	float right

.no-margin-bottom
  margin-bottom 0

.no-margin-top
	margin-top 0

.no-margin, input.no-margin
	margin 0

.standard-margin-top
	margin-top standard-margin

.main-container
	border 1px solid #ddd
	border-top 0
	margin-top -20px
	padding 20px
	min-height 400px
	box-shadow 1px 1px 3px #777

.full
	width 100%

.first-half, .second-half
	width 48.5%

.first-half
	@extend .float-left

.second-half
	@extend .float-right

.room-space
	margin-left -12px

.room-space textarea
	@extend .full

.personal-info
	@extend .align-left
	@extend .small-font
	color #555555

.nav-tabs > .float-right
	float right

input.low-input
	@extend .small-font
	height 12px
	line-height normal

@media (max-width: 767px)
	input.low-input
		@extend .small-font
		height 22px
		min-height 22px
		line-height normal

.half-margin-top
	padding-top half-margin

.room-control
	@extend .small-font
	position absolute
	top 3px
	right 2px

.btn-close
	margin-left half-margin

::-webkit-scrollbar 
	width 6px

::-webkit-scrollbar-track { }

::-webkit-scrollbar-thumb
	background rgba(2,168,236,.2)
	border-radius 2px

::-webkit-scrollbar-button 
	background none
	height 2px